
@{
    ViewData["Title"] = "Edit Resource";
    <script src="~/Scripts/ResourceJS.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#summaryTable").DataTable();
            $('[name="inputStatus"]').bootstrapSwitch({

                onText: "Enabled",
                offText: "Disabled"
            });

        });
    </script>

}


<h2 style="text-align:center">Edit Resource</h2>
<br />

@*<div class="row alert-danger" id="resourceErrorMessage" hidden>
        <div class="col-sm-11" style="text-align:center">
            <p class="warning" id="lblResourceError"></p>
        </div>
        <div class="col-sm-1" style="text-align:right">  <span class="glyphicon glyphicon-remove" style="cursor:pointer" onclick="clearErrorMessage()"></span> </div>

    </div>*@

<div class="alert alert-danger alert-dismissable fade in" id="resourceErrorMessage" hidden></div>

<br />

<ul class="nav nav-tabs">
    <li class="active"><a href="#details">Resource Details</a></li>
    <li><a href="#scopes">Scopes</a></li>
    <li><a href="#secrets">Secrets</a></li>
    <li><a href="#claims">Claims</a></li>
    <li><a href="#summary">Summary</a></li>
</ul>

<div class="tab-content">
    <br />

    <div id="details" class="tab-pane fade in active">
        <fieldset>
            <legend>Resource Details</legend>

            <div class="row">
                <div class="col-sm-4">
                    <label>Name:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="txtResName" />
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-4">
                    <label>Display Name:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" id="txtResDispName" />
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-4">
                    <label>Desciption:</label>
                </div>
                <div class="col-sm-8">
                    <textarea id="txtResDesc" cols="22"></textarea>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-4">
                    <label>Status:</label>
                </div>
                <div class="col-sm-8">
                    <input type="checkbox" id="inputStatus" name="inputStatus" data-toggle="toggle" checked />

                </div>
            </div>
            <br />

            <div class="row">

                <div class="col-sm-4">
                    <input type="submit" value="Clear" id="btnClear" class="btn" onclick="clearResource();" />
                </div>

                <div class="col-sm-4" style="text-align:center">
                    <a href="Index" class="btn btn-default" style="background-color:gainsboro">Cancel</a>
                </div>

                <div class="col-sm-4" style="text-align:right">
                    <a data-toggle="tab" class="btn btn-default" style="background-color:gainsboro" onclick="nextPage('scopes')">Next</a>
                </div>

            </div>

        </fieldset>

    </div>


    <div id="scopes" class="tab-pane fade">
        <fieldset>
            <legend>Resource Scopes</legend>

            <div class="row">
                <div class="col-sm-6">
                    <label>Allowed Scopes:</label><br />
                    <input type="text" id="txtAllowedScopes" />
                    <input type="button" id="btnAddScope" class="btn btn-primary" value="Add" onclick="addScopesToList()" />
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-8">
                    <select class="form-control" id="listScopes" size="20"></select>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-4">
                    <a data-toggle="tab" class="btn btn-default" style="background-color:gainsboro" onclick="nextPage('details')">Back</a>
                </div>

                <div class="col-sm-4" style="text-align:center">
                    <a href="Index" class="btn btn-default" style="background-color:gainsboro">Cancel</a>
                </div>

                <div class="col-sm-4" style="text-align:right">
                    <a data-toggle="tab" class="btn btn-default" style="background-color:gainsboro" onclick="nextPage('secrets')">Next</a>
                </div>

            </div>

        </fieldset>
    </div>

    <div id="secrets" class="tab-pane fade">

        <fieldset>
            <legend>Resource Secrets</legend>

            <div class="row">
                <div class="col-sm-6">
                    <label>Allowed Secrets:</label><br />
                    <input type="text" id="txtAllowedSecrets" />
                    <input type="button" id="btnAddSecret" class="btn btn-primary" value="Add" onclick="addSecretsToList()" />
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-6">
                    <select class="form-control" id="listSecrets" size="20"></select>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-sm-4">
                    <a data-toggle="tab" class="btn btn-default" style="background-color:gainsboro" onclick="nextPage('scopes')">Back</a>
                </div>

                <div class="col-sm-4" style="text-align:center">
                    <a href="Index" class="btn btn-default" style="background-color:gainsboro">Cancel</a>
                </div>

                <div class="col-sm-4" style="text-align:right">
                    <a data-toggle="tab" class="btn btn-default" style="background-color:gainsboro" onclick="nextPage('claims')">Next</a>

                </div>

            </div>

        </fieldset>
    </div>

    <div id="claims" class="tab-pane fade">
        <fieldset>
            <legend>Resource Claims</legend>

            <div class="row">
                <div class="col-sm-6">
                    <label>Allowed Claims:</label><br />
                    <input type="text" id="txtAllowedClaims" />
                    <input type="button" id="btnAdd" class="btn btn-primary" value="Add" onclick="addClaimsToList()" />
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-6">
                    <select class="form-control" id="listClaims" size="20"></select>
                </div>
            </div>


            <br />
            <div class="row">
                <div class="col-sm-4">
                    <a data-toggle="tab" class="btn btn-default" style="background-color:gainsboro" onclick="nextPage('secrets')">Back</a>
                </div>

                <div class="col-sm-4" style="text-align:center">
                    <a href="Index" class="btn btn-default" style="background-color:gainsboro">Cancel</a>
                </div>

                <div class="col-sm-4" style="text-align:right">
                    <a data-toggle="tab" class="btn btn-default" style="background-color:gainsboro" onclick="nextPage('summary')">Next</a>
                </div>

            </div>

        </fieldset>
    </div>


    <div id="summary" class="tab-pane fade">

        <h4>Summary</h4>

        <div class="row">
            <table id="summaryTable">

                <thead>
                    <tr>
                        <th width="20px"></th>
                        <th>Type</th>
                        <th>Details</th>
                    </tr>

                </thead>

                <tbody>
                    <tr>
                        <td> <a data-toggle="tab" style="cursor:pointer" onclick="nextPage('details')"> <span class="glyphicon glyphicon-pencil"></span> </a> </td>
                        <td><strong>Resource Name</strong> </td>
                        <td>
                            <p id="lblResName"></p>
                        </td>
                    </tr>

                    <tr>
                        <td> <a data-toggle="tab" style="cursor:pointer" onclick="nextPage('details')"> <span class="glyphicon glyphicon-pencil"></span> </a> </td>
                        <td><strong>Display Name</strong></td>
                        <td><p id="lblResDispName"></p></td>
                    </tr>

                    <tr>
                        <td> <a data-toggle="tab" style="cursor:pointer" onclick="nextPage('details')"> <span class="glyphicon glyphicon-pencil"></span> </a> </td>
                        <td><strong>Description</strong></td>
                        <td><p id="lblResDescription"></p></td>
                    </tr>

                    <tr>
                        <td> <a data-toggle="tab" style="cursor:pointer" onclick="nextPage('details')"> <span class="glyphicon glyphicon-pencil"></span> </a> </td>
                        <td><strong>Status</strong></td>
                        <td><p id="lblResStatus"></p></td>
                    </tr>

                    <tr>
                        <td> <a data-toggle="tab" style="cursor:pointer" onclick="nextPage('scopes')"> <span class="glyphicon glyphicon-pencil"></span> </a> </td>
                        <td><strong>Scopes</strong></td>
                        <td><p id="lblResScopes"></p></td>
                    </tr>

                    <tr>
                        <td> <a data-toggle="tab" style="cursor:pointer" onclick="nextPage('secrets')"> <span class="glyphicon glyphicon-pencil"></span> </a> </td>
                        <td><strong>Secrets</strong></td>
                        <td><p id="lblResSecrets"></p></td>
                    </tr>

                    <tr>
                        <td> <a data-toggle="tab" style="cursor:pointer" onclick="nextPage('claims')"> <span class="glyphicon glyphicon-pencil"></span> </a> </td>
                        <td><strong>Claims</strong></td>
                        <td><p id="lblResClaims"></p></td>
                    </tr>

                </tbody>
            </table>

            <br />
            <div class="col-sm-4">

                <a data-toggle="tab" class="btn btn-default" style="background-color:gainsboro" onclick="nextPage('claims')">Back</a>
            </div>

            <div class="col-sm-4" style="text-align:center">
                <a href="Index" class="btn btn-default" style="background-color:gainsboro">Cancel</a>
            </div>

            <div class="col-sm-4" style="text-align:right">
                <input type="submit" value="Submit" id="btnSubmit" class="btn btn-primary" />
            </div>
        </div>

    </div>

</div>




