
@{
    ViewData["Title"] = "Client Details";
}

<h2 style="text-align:center">Client Details</h2>


<div class="row">

    <div class="col-sm-3">
        <p class="page-header">Client  Details</p>
        <label>Name: </label> <label></label> <br />
        <label>Display Name: </label> <label></label> <br />
        <label>Description: </label> <label></label> <br />

        <label>Status: </label> <label></label>
        <br />
        <p class="page-header">Application URI</p>
        <label>Redirect URI: </label> <label></label> <br />
        <label>Logout URI: </label> <label></label> <br />

    </div>

    <div class="col-sm-2">
        <p class="page-header">Scopes</p>
    </div>

    <div class="col-sm-2">
        <p class="page-header">Secrets</p>
    </div>

    <div class="col-sm-2">
        <p class="page-header">Claims</p>
    </div>

    <div class="col-sm-2">
        <p class="page-header">Resources</p>
    </div>
</div>
<br />

<div class="row">
    <div class="col-sm-6">
        <a href="Index" class="btn btn-default" style="background-color:gainsboro">Back</a>
    </div>

    <div class="col-sm-6" style="text-align:right">
        <a href="Edit" class="btn btn-default" style="background-color:gainsboro">Edit</a>
    </div>

</div>
